.intervalo-fechas{
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: 10px;
    padding-left: 3px;
}
.fechas{
    font-size: 0.8rem;
}
.intervalo-fechas__botonBuscar{
    width: 86px; display: flex; align-items: end
}