/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
 /* @import url(); */
 

:root {
  --qwik-light-white: #ffffff;
  --qwik-dark-white: #eeeeee;
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  /* --qwik-dark-purple: #713fc2; */
  --qwik-dark-purple: #09cd33;
}

body {
  margin: 0;
    font-family: Roboto, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: #fafafa;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px; */
}

/* a.linkHeaderPrincipal {
  display: inline-block;
  padding: 15px 10px;
  color: #ee99ee;
  text-decoration: none;
}
a.linkHeaderPrincipal:hover {
  text-decoration: underline;
} */
/************************************/
/*************CONTAINER**************/
/************************************/
.container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;

  /* border: rgb(255, 43, 43) 3px solid; */
}
/* @media (max-width:500px) {
.container {
    width: auto;

    border: rgb(0, 72, 255) 3px solid;
  }
} */
/************************************/
/**********CONTAINER MODAL***********/
/************************************/
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

}
.container-modal {
  width: 500px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px ;
  border: 1px solid #888;
  border-radius: 5px;
  font-size: small;
}
.add-form {
  display: flex;
  flex-direction: column;
  margin: 6px 3px;
  /* font-size: 0.6rem; */
  border: 1px dashed #ff0000;
}
.form-control {
  display: flex;
  justify-content: space-between;
  margin: 1px 0px;
}
.form-control label{
  display: none;
}
.form-control .form-agrupado {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px dashed blue
}
/* .form-control .form-agrupado input, */
.form-control .form-agrupado select{
  width: 100%;
}
.btn-centro {
  background-color: rgb(60, 60, 60);
  color:rgb(224, 224, 224); 
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
  margin: 2px 2px;
  text-align:  center;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
}
.btn-centro:hover {
  background-color: rgb(19, 19, 19);
  color: rgb(221, 255, 0);
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
  margin: 2px 2px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
}
/************************************/
/*********SECCION INICIO*************/
/************************************/
.seccion-inicio{
  /* border: rgb(255, 142, 43) 1px dashed; */
  display: flex;
  flex-direction: column-reverse;
  
  align-items: center;
  justify-content: center;
}
.frase-principal {
  /* border: rgb(255, 142, 43) 3px dashed; */
  color: #75ABB2; 
  font-family: 'Roboto Condensed'; 
  font-size: 1.8rem
 /* padding-bottom: 20px; */
}
.frase-principal-letraPeque{
  font-size: 1.4rem
}
.imagen-principal {
  /* border: rgb(255, 142, 43) 3px dashed; */
  width: 80%;
  justify-self: center;
  align-self: center;
  padding: 10px 0;
}
@media screen and (min-width:600px) {
  .frase-principal { 
    font-size: 2.4rem
  }

  .frase-principal-letraPeque {
    font-size: 1.86rem
  }
}
@media screen and (min-width:768px) {
  .seccion-inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }
  .frase-principal{
    display: flex;
    justify-content: center;
    /* align-items: end; */   
    padding-bottom: 0;
    font-size: 2.4rem
  }
    .frase-principal-letraPeque {
      font-size: 1.86rem
    }
}
/************************************/
/********SECCION PORTAFOLIO**********/
/************************************/
.seccion-portafolio{
  /* border: rgb(255, 142, 43) 1px dashed; */
  display: flex;
  flex-direction: column
}
h2 {
  color: #7e7e7e;
  font-size: x-large;
}
/************************************/
/********SECCION ASOCIADOS**********/
/************************************/
.seccion-asociados {
  /* border: rgb(255, 142, 43) 1px dashed; */
  display: flex;
  flex-direction: column
}
.asociados {
  /* border: rgb(255, 43, 43) 1px dashed; */
  display: grid; 
  grid-template-columns:  1fr; 
  /* padding: 15px 15px */
}
@media screen and (min-width:768px) {
  .asociados {
      grid-template-columns: 1fr 1fr;
      /* padding: 15px 15px */
    }
}
/************************************/
/**************FOOTER****************/
/************************************/
.footer-principal{
  background: rgb(0, 0, 0);
  color: #ffffff;
    height: 120px;

  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linea-uno{
  /* border: 1px white dashed; */
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  /* width: 60%; */
  margin-bottom: 7px;
}
.linea-dos{
  /* border: 1px white dashed; */
  font-size: 0.7rem;
  /* width: 60%; */
}
@media screen and (min-width:768px) {
.linea-uno {
    /* border: 1px white dashed; */   
    font-size: 0.9rem;
    /* width: 60%; */
  }
    .linea-dos {
      font-size: 0.9rem;
      /* width: 60%; */
    }
}
/************************************/
/*********INTERVALO DE FECHAS********/
/************************************/
.intervalo-fechas {
  /* border: 1px solid red; */
  display: flex;
  margin-bottom: 10px;
  padding-left: 3px;
}
.fechas {
  font-size: 0.8rem;
}
.intervalo-fechas__botonBuscar {
  width: 86px;
  display: flex;
  align-items: end
}

/* .footer-principal {
  background: rgb(0, 0, 0);
  

  

  border: 1px white dashed;
} */
/*

label{
color: #5e5e5e;
}
h3{
color: #5e5e5e;
  font-size: large;
}

h1 {
  color: #9e9e9e;
  font-size: xx-large;
}


.lightning {
  filter: hue-rotate(180deg);
}



ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 8px 0;
}

li::marker {
  color: var(--qwik-light-blue);
}

a,
a:visited {
  color: var(--qwik-light-white);
}
a.desea-suscribirse{
  font-size: 0.8rem;
    color: blue;
    align-self: self-start;
}

a:hover {
  text-decoration: none;
}

table.commands {
  margin: 0 0 30px 0;
}

.commands td {
  padding: 5px;
}

.commands td:first-child {
  white-space: nowrap;
  padding-right: 20px;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

a.mindblow,
a.todolist {
  margin: 10px auto;
  display: block;
  background: var(--qwik-dark-white);
  padding: 10px 20px 14px;
  border-radius: 10px;
  border: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: fit-content;
  box-shadow: inset 0px -4px 0px black;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤯</text></svg>")
      16 0,
     auto; 
} 

a.mindblow:hover,
a.todolist:hover {
  box-shadow: inset 0px 4px 0px white;
  padding: 14px 20px 10px;
}







table {
  border-radius: 3px;
  width: 100%;
  background-color: #b2ebf2;
}

thead tr th {
  font-family: "Roboto";
  background-color: #81b9bf;
  color: #fff;
  border-radius: 3px;
  padding: 2px 5px;
  text-align: center;
  display: inline-flexbox;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
}

tbody tr td {
  font-family: "Roboto";
  background-color: #aeaeae;
  color: #f5f5f5;
  border-radius: 3px;
  padding: 2px 5px;
  text-align: justify;
  display: inline-flexbox;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
}

tbody tr td:hover {
  font-family: "Roboto";
  background-color: #f5f5f5;
  color: #545454;
  border-radius: 3px;
  padding: 2px 5px;
  text-align: justify;
  display: inline-flexbox;
  align-items: center;
  justify-content: space-around;
}

*/